<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup class="org.naturzukunft.jdt.mcp.EarlyStartup"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.naturzukunft.jdt.mcp.preferences.McpPreferencePage"
            id="org.naturzukunft.jdt.mcp.preferences"
            name="JDT MCP Server">
      </page>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.naturzukunft.jdt.mcp.preferences.McpPreferenceInitializer"/>
   </extension>
</plugin>
